<div id="main-content" class="container-fluid bg-dark text-white py-4 px-5">

  <!-- Canciones según MOOD -->
  <div *ngIf="searchPerformed">
    <div class="row mb-4">
      <div class="col">
        <h2>Mood Canciones</h2>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 mb-5">
      <div class="col" *ngFor="let item of searchResults">
        <app-card
          [image]="item.image"
          [title]="item.name"
          [url]="item.url"
          [isPlayable]="true">
        </app-card>
      </div>
    </div>
  </div>
  <!-- /. Canciones según MOOD -->

  <!-- Top canciones -->
  <div class="row mb-4">
    <div class="col">
      <h2>Top canciones</h2>
    </div>
  </div>
  <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 mb-5">
    <div class="col" *ngFor="let item of worldTop">
      <app-card
        [image]="item.imageUrl"
        [title]="item.title"
        [artist]="item.artist"
        [isPlayable]="false">
      </app-card>
    </div>
  </div>
  <!-- /. Top canciones -->

  <!-- Artistas populares -->
  <div class="row mb-4">
    <div class="col">
      <h2>Artistas populares</h2>
    </div>
  </div>
  <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4">
    <div class="col" *ngFor="let item of popularArtists">
      <app-card
        [image]="item.imageUrl"
        [title]="item.title"
        [artist]="item.artist"
        [isPlayable]="false">
      </app-card>
    </div>
  </div>
  <!-- /. Artistas populares -->

</div>
