<!-- main-content.component.html -->
<div id="main-content" class="container-fluid bg-dark text-white py-4 px-5">
  <!-- Canciones según MOOD -->
  <div
    *ngIf="
      searchPerformed &&
      (activeSection === 'todos' || activeSection === 'canciones')
    "
  >
    <div class="row mb-4">
      <div class="col">
        <h2>Mood Canciones</h2>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 mb-5">
      <div class="col" *ngFor="let item of searchResults">
        <app-card
          [image]="item.image"
          [title]="item.name"
          [url]="item.url"
          [artist]="item.artist"
          [isPlayable]="true"
          [addPlayList]="true"
          [isArtistCard]="false"
        >
        </app-card>
      </div>
    </div>
  </div>

  <!-- Top canciones -->
  <div *ngIf="activeSection === 'todos' || activeSection === 'canciones'">
    <div class="row mb-4">
      <div class="col">
        <h2>Top canciones</h2>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 mb-5">
      <div class="col" *ngFor="let item of worldTop">
        <app-card
          [image]="item.imageUrl"
          [title]="item.title"
          [artist]="item.artist"
          [url]="item.url"
          [isPlayable]="true"
          [addPlayList]="true"
          [isArtistCard]="false"
        >
        </app-card>
      </div>
    </div>
  </div>

  <!-- Artistas populares -->
  <div *ngIf="activeSection === 'todos' || activeSection === 'artistas'">
    <div class="row mb-4">
      <div class="col">
        <h2>Artistas populares</h2>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4">
      <div class="col" *ngFor="let item of popularArtists">
        <app-card
          [image]="item.imageUrl"
          [title]="item.title"
          [artist]="item.artist"
          [artistUrl]="item.profileUrl"
          [isPlayable]="false"
          [addPlayList]="false"
          [isArtistCard]="true"
        >
        </app-card>
      </div>
    </div>
  </div>

  <!-- PlayList -->
  <div *ngIf="activeSection === 'playlist'">
    <div class="row mb-4">
      <div class="col">
        <h2>Mi playList</h2>
      </div>
    </div>
    <div *ngIf="playlist.length > 0; else emptyPlaylist">
      <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4">
        <div class="col" *ngFor="let item of playlist">
          <app-card
            [id]="item.id"
            [image]="item.image"
            [title]="item.title"
            [artist]="item.artist"
            [url]="item.url"
            [isPlayable]="true"
            [addPlayList]="true"
            [isArtistCard]="false"
          >
          </app-card>
        </div>
      </div>
    </div>
    <ng-template #emptyPlaylist>
      <div class="alert alert-danger text-center" role="alert">
        <p class="mb-0">¡No tienes ninguna canción asignada en tu PlayList!</p>
      </div>
    </ng-template>
  </div>
</div>
