<nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-navbar">
    <div class="container-fluid">
  
      <!-- Logo Spotify -->
      <a class="navbar-brand" href="#">
        <i class="bi bi-spotify icon-spotify"></i>
      </a>
      
      <!-- Búsqueda -->
      <div class="search-container mx-auto">
        <div class="input-group">

          <!-- Campo de búsqueda -->
          <input type="text" class="custom-search-input" placeholder="¿Qué quieres reproducir?" aria-label="Search">
          
          <!-- Icono a la derecha del search -->
          <span class="input-group-text search-icon-right">
            <i class="bi bi-search"></i>
          </span>
        </div>
      </div>
      
      <!-- Botón de notificaciones y de perfil -->
      <div class="d-flex align-items-center">
        <button class="btn btn-link text-light">
          <i class="bi bi-bell icon-notification"></i>
        </button>
  
        <button class="btn btn-link text-light">
          <i class="bi bi-person-circle icon-profile"></i>
        </button>
      </div>
  
    </div>
  </nav>
  