<body>
  <div class="container-main">
    <div class="forgot-container">
      <h2>Recuperar Contraseña</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <label for="email">Correo Electrónico</label>
        <input id="email" formControlName="email" type="email" />

        <label for="securityAnswer">Respuesta de Seguridad</label>
        <input id="securityAnswer" formControlName="securityAnswer" type="text" />

        <button type="submit" [disabled]="forgotPasswordForm.invalid">Enviar</button>
        <div class="line-container">
          <hr class="line" />
          <span class="text">O</span>
          <hr class="line" />
        </div>

        <p *ngIf="successMessage" class="logincss">{{ successMessage }}</p>
        <p *ngIf="errorMessage" class="logincss">{{ errorMessage }}</p>

        <span class="loginHelp">¿Ya recuperaste tu contraseña?</span>
        <a style="cursor: pointer;" (click)="login()" class="logincss">
          Inicia sesion
        </a>
      </form>
    </div>
  </div>
</body>