<div class="custom-container">
  <header>
    <img src="assets/spotify_logo_icon_189261.png" alt="logo" />
  </header>
  <header>
    <h1>Regístrate para empezar a escuchar contenido</h1>
  </header>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3" *ngIf="!showPassword">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
        placeholder="nombre@dominio.com"
      />
      <div class="handleError" *ngIf="getFieldError('email')">{{ getFieldError('email') }}</div>
    </div>

    <div class="mb-3" *ngIf="showPassword">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        formControlName="password"
        placeholder="password"
      />
    </div>

    <div>
      <button type="button" class="btn btn-primary" (click)="onClickSiguiente()">
        <span> Siguiente</span>
      </button>
    </div>

    <div class="line-container">
      <hr class="line" />
      <span class="text">O</span>
      <hr class="line" />
    </div>
  </form>

  <div>
    <span class="loginHelp">¿Ya tienes una cuenta?</span>
    <a style="cursor: pointer;" (click)="login()" class="logincss">
      inicia sesion
    </a>
  </div>
</div>
