<div class="custom-container">
  <header>
    <img src="assets/spotify_logo_icon_189261.png" alt="logo de Spotify" />
  </header>
  <header>
    <h1>Regístrate para empezar a escuchar contenido</h1>
  </header>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <!-- Sección 1 -->
    <div class="mb-3" *ngIf="seccionActual === 1">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        placeholder="Ingresa tu nombre"
      />
      <div class="handleError" *ngIf="getFieldError('name')">
        {{ getFieldError('name') }}
      </div>

      <label for="email" class="form-label">Correo electrónico</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="nombre@dominio.com"
      />
      <div class="handleError" *ngIf="getFieldError('email')">
        {{ getFieldError('email') }}
      </div>
    </div>

    <!-- Sección 2 -->
    <div class="mb-3" *ngIf="seccionActual === 2">
      <label for="username" class="form-label">Nombre de usuario</label>
      <input
        type="text"
        class="form-control"
        id="username"
        formControlName="username"
        placeholder="Ingresa tu nombre de usuario"
      />
      <div class="handleError" *ngIf="getFieldError('username')">
        {{ getFieldError('username') }}
      </div>

      <label for="password" class="form-label">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        placeholder="Contraseña"
      />
      <div class="handleError" *ngIf="getFieldError('password')">
        {{ getFieldError('password') }}
      </div>

      <label for="securityAnswer" class="form-label">Security Answer</label>
      <input
        type="text"
        class="form-control"
        id="username"
        formControlName="securityAnswer"
        placeholder="Ingresa un numero de seguridad"
      />
      <div class="handleError" *ngIf="getFieldError('securityAnswer')">
        {{ getFieldError('securityAnswer') }}
      </div>
    </div>

    
    <!-- Botones -->
    <div *ngIf="seccionActual === 1">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onClickSiguiente()"
      >
        <span>Siguiente</span>
      </button>
    </div>

    <div *ngIf="seccionActual === 2">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="onSubmit()"
      >
        <span>Registrarse</span>
      </button>
    </div>

    <div class="line-container">
      <hr class="line" />
      <span class="text">O</span>
      <hr class="line" />
    </div>
  </form>

  <div>
    <span class="loginHelp">¿Ya tienes una cuenta?</span>
    <a style="cursor: pointer;" (click)="login()" class="logincss">
      inicia sesion
    </a>
  </div>
</div>
