.container-main {
  align-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}


.login-container {
  max-width: 600px;
  height: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url('/src/assets/Spotify.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  color: white;
}

.login-container h2 {
  color: #1DB954;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 0 10px;
  opacity: 0.5;
  width: 70%;
}

.text {
  color: #ffffff; /* Color de la "O" */
  font-size: 10px;
  font-weight: bold;
}

.login-field {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.login-button {
  font-size: 16px;
  /*font-size: 50px;*/
  /*padding: 10px 20px;*/
  padding: 10px 130px;
  border: none;
  border-radius: 50px; /* Hace el botón redondeado */
  background-color: #1db954; /* Color de Spotify */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.options a {
  color: #1DB954;
  text-decoration: none;
  font-size: 0.9rem;
}

.options a:hover {
  text-decoration: underline;
}
