<div class="container-main">
  <div class="login-container">
    <h2>Iniciar sesión en Spotify</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="fill" class="login-field">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="getFieldError('email')">{{ getFieldError('email') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="login-field">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="getFieldError('password')">{{ getFieldError('password') }}</mat-error>
      </mat-form-field>
      
      <button class="login-button" type="submit">
        <a (click)="onLogin()">Iniciar sesión</a>
      </button>

      <div class="line-container">
        <hr class="line" />
        <span class="text">O</span>
        <hr class="line" />
      </div>
    </form>
    <div class="options">
      <a (click)="forgot()" style="cursor: pointer;">¿Olvidaste tu contraseña?</a>
      <a (click)="register()" style="cursor: pointer;">Registrarse en Spotify</a>
    </div>
  </div>
</div>