/* You can add global styles to this file, and also import other style files */
body {
  background-color: #121212;
  color: #ffffff; /* Blanco para texto principal */
  font-size: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS Gothic", sans-serif;
}

html, body, app-root {
  height: 100%;
  margin: 0;
  padding: 0;
}